.header {
  background-color: var(--white-30);
  border-bottom: 1px solid var(--primary);
  padding: 20px 0;
  position: sticky;
  top: 0;
  backdrop-filter: blur(10px);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__brand {
  color: var(--primary);
  display: inline-flex;
  align-items: center;
  flex-grow: 1;
  font-size: 36px;
}

.header__logo {
  display: block;
  width: 48px;
  height: 48px;
  margin-right: 6px;
}
