.cookie-watermark {
  width: 33.33333%;
  max-width: 560px;
  min-width: 300px;
  height: auto;
  position: fixed;
  bottom: -60px;
  right: -16px;
  z-index: -1;
  transform: rotate(210deg);
  opacity: 0.05;
}
